<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>female</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-show update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-show delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>